@use "../components/variables";

body, input, textarea, select {
    font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
    margin: 0;
}   

.heading-title {
    color: variables.$navy;
    margin-bottom: 15px;
}