@use "variables";

.container {
    max-width: variables.$container-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(variables.$gutters / 2);
    padding-right: calc(variables.$gutters / 2);
  
    &--big {
      max-width: variables.$container-big;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: variables.$row-gutters;
    margin-left: calc(variables.$row-gutters / -2);
    margin-right: calc(variables.$row-gutters / -2);
}
  
.col {
    width: 100%;
}

@mixin media($breakpoint) {
  @media (min-width: $breakpoint) {
      @content;
  }
}

// Declare the mixin outside the loop
@mixin col-responsive($breakpoint, $size, $gap) {
  @include media($breakpoint) {
      width: calc((100% * $size / 12) - #{calc($gap / 2)});
  }
}

// Loop through breakpoints and sizes to generate classes
@for $i from 1 through 12 {
  // Default columns without breakpoints
  .col-#{$i} {
      width: calc((100% * $i / 12) - variables.$row-gutters);
  }

  // Columns for each breakpoint
  @each $breakpoint, $value in variables.$breakpoints {
      .col-#{$breakpoint}-#{$i} {
          @include col-responsive($value, $i, variables.$row-gutters);
      }
  }
}