// Custom rem function definition
@function rem($px, $base: 16px) {
  @return calc($px / $base) * 1rem;
}

// Heading font Size
$headingSize: (
  "h1": rem(40px),
  "h2": rem(32px),
  "h3": rem(28px),
  "h4": rem(24px),
  "h5": rem(20px),
  "h6": rem(16px),
);

// Container's maximum width
$container-width: rem(1150px) !default;
$container-big: rem(1344px) !default;
$gutters: rem(50px);
$row-gutters: rem(30px);

// Media Query breakpoints
$breakpoints: (
  "sm": 576px, // Mobile Devices
  "md": 768px, // Mobile Devices
  "lg": 992px, // Tablet Devices
  "xl": 1200px, // Laptop Devices
  "xxl": 1400px // Desktop Devices
);

// Regular ( Open Sans ) font family
$font-family-base: "Noto Sans", sans-serif !default;
$font-family-secondary: "Noto Sans", sans-serif !default;
$font-family-hgroup: "Poppins", sans-serif !default;

// Colors
$primary-100: #1f1f1f !default;
$primary-200: #072b55 !default;
$primary-300: #152a40 !default;

$secondary-100: #4b4fe2 !default;
$secondary-200: #3236c8 !default;

$tertiary-100: #009058 !default;
$tertiary-200: #0ec38b !default;
$tertiary-300: #a9dfda !default;
$tertiary-400: #cff3e8 !default;

// Start with assigning color names to specific hex values.
$color-100: #ff7c66 !default;
$color-200: #a03291 !default;
$color-300: #006cd6 !default;
$color-400: #e5f3fd !default;
$color-500: #4d7689 !default;
$color-600: #262626 !default;
$color-700: #ffe5e0 !default;
$color-800: #02293b !default;
$color-900: #181caf !default;
$color-1000: #0085f0 !default;
$white: #ffffff !default;
$black: #000000 !default;
$gray: #707070 !default;
$gray-100: #cccccc !default;
$gray-200: #f5f5f5 !default;
$gray-300: #e5e5e5 !default;
$gray-400: #9caabb !default;

// Body color
$body-bg: $white !default;
$body-color: $primary-100 !default;

// Legacy color support`
$dell-blue: $primary-200;
$row-bg: $gray-300;
$aqua: $tertiary-100;
$dell-gray: $gray-400;