@use "variables";

footer {
	border-top: none;
	background: #007db8;
	margin-top: 30px;
	color: variables.$white;
	font-size: 14px;
	padding: 0.8rem;
	
	.footer-menu {
    	.menu {
        	overflow: hidden;
        	padding: 0;
        	margin: 0;
        	
        	.menu-item {
            	list-style-type: none;
                float: left;
                margin-right: 10px;
                
            	a {
                	margin: 4px 16px 4px 0;
                    color: variables.$white;
            	}
        	}
    	}
	}
        
    .copyright {
	    padding: 10px 0;
        text-align: center;
        display: none; 	
    }
}