footer {
	border-top: none;
	background: #007db8;
	margin-top: 30px;
	color: $white;
	font-size: 14px;
	padding: 0.7rem;
        
    .copyright {
	    padding: 10px 0;
        text-align: center; 	
    }
}