.cloud-statuses {
    margin-bottom: 15px;
	
	.cloud-status {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 16px;
		text-align: center;
		border-radius: 15px;
		.service {
			margin-bottom: 5px;
        }
		.status {}
		&.operating-normally {
			background-color: $green;
			color: $white;
        }
    }
}

// calendar.
.home .pickle-calendar {
    .pickle-calendar-event {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-indent: -9999px;
        margin: -8px auto 0;
        
        &.release-date {
            background: $navy;
        }
        
        &.release-control-date {
            background: $steel;
        }
    }
}