.cloud-statuses {
    margin-bottom: 15px;
	
	.cloud-status {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 16px;
		text-align: center;
		border-radius: 15px;
		.service {
			margin-bottom: 5px;
        }
		.status {}
		&.operating-normally {
			background-color: $green;
			color: $white;
        }
    }
}

.home .trust-pc-key {
    .key-list {
        margin: 0;
        
        .key {
            float: left;
            padding-right: 40px;
            
            &.rd {
                color: $navy; 
            }
            
            &.rcd {
                color: $steel;
            }
        }
    }
}