.boomi-stats-notifications {    
	.upcoming-releases {
		margin-bottom: 45px;

        .upcoming-releases-header {
            text-align: center;
            
            h2 {
                background-color: $steel;
                padding: 15px;
                //font-size: 1.25em;
                color: $white;
            }		
        }
    }
    
	.release-archive {

    }
    
    .sub-head {
        text-align: center;
    }
    
	.release-control-dates {
		overflow: hidden;
		border-style: solid;
		border-width: 1px;
		border-color: $steel;
		
		.sub-head {
    	    background-color: $steel;
    	    color: $white;	
		}
		
		.date {
			padding: 10px;
			&:nth-child(even) {
				background-color: $row-bg;
            }
        }
    }    
}