@use "../site/variables";

.boomi-stats-notifications {   
    section {
        // margin-bottom: 2rem;
        margin-bottom: variables.$row-gutters * 2;
    } 

    p {
        margin: 0;
    }

    .header-row {
        text-align: center;
        // margin-bottom: 1rem;
        
        h2 {
            background-color: variables.$dell-blue;
            padding: 15px;
            margin: 0;
            color: variables.$white;
        }		
    }

    .data-container {
        .border-wrap {
            border-color: variables.$dell-blue;
        }
        
        .sub-head {
            background-color: variables.$dell-blue;	
        }
    } 

    .border-wrap {
        overflow: hidden;
        border-style: solid;
        border-width: 1px;
    }

    .sub-head {
        text-align: center;
        color: variables.$white;
        
        h3 {
            margin: 0;
            padding: 15px;
        }
    }
    
    .date {
        padding: 10px;
        &:nth-child(even) {
            background-color: variables.$row-bg;
        }
    }    

	.infrastructure-releases {          
        h2 {
            background-color: variables.$aqua;
        }		
        
        .data-container {
        	.border-wrap {
                border-color: variables.$aqua;
            }
    		
    		.sub-head {
        	    background-color: variables.$aqua;	
    		}
        }         
    }    
    
	.release-archive {         
        h2 {
            background-color: variables.$dell-gray;
        }		
        
        .data-container {
        	.border-wrap {
                border-color: variables.$dell-gray;
            }
    		
    		.sub-head {
        	    background-color: variables.$dell-gray;	
    		}
        }         
    }
    
    .footer-notice {
        margin-top: 1rem;
    }    
}