.release-dates-wrap {

    .title {
        background-color: $steel;
        padding: 15px;
        font-size: 1.25em;
        color: $white;
    }    
		
	.dates-wrap {
		overflow: hidden;
		border-style: solid;
		border-width: 0 1px 1px 1px;
		border-color: $steel;
		
		div {
			padding: 10px;
			&:nth-child(even) {
				background-color: $row-bg;
            }
        }
    }
    
	.release-control-dates {
		margin-bottom: 45px;
    }
    
	.release-dates {

    }
}