.performance {
	.row {
		line-height: 1;
		div {
			padding-top: 15px;
			padding-bottom: 15px;
        }
		.daily-metrics {
			border-left: 1px solid $white;
        }				
		&:nth-child(even) {
			background-color: $quartz;
        }			
		.date, .dm-number {
			padding-top: 21px;
			padding-bottom: 21px;
        }						
		&.header {
			background-color: $dell-blue;
			color: $white;
			font-size: 18px;
        }			
		&.sub-header {
			background-color: $granite;
			color: $white;
			font-size: 16px;
        }
    }
}		
			
.performance-single {
	.row {
		line-height: 1;
		
		div {
			padding-top: 15px;
			padding-bottom: 15px;
        }
        
		&.header {
			background-color: $dell-blue;
			color: $white;
			font-size: 2em;
			margin-bottom: 30px;
        }
        
        &.status-wrap {
            margin-bottom: 15px;
        }
		
		.platform {
			background-color: $granite;
			color: $white;
			font-size: 1.5em;		
        }
        
        .date {
            font-size: 1.15em;
        }
        
        .status {
            font-weight: bold;
            padding-top: 0;
            padding-bottom: 5px;
            
            @media only screen and (min-width: 768px) {
                padding-top: 15px;                
            }
        }
        
        .message {
            padding-top: 0;
        }
    }
}