.performance {
	.row {
		line-height: 1;
		div {
			padding-top: 15px;
			padding-bottom: 15px;
        }
		.daily-metrics {
			border-left: 1px solid $white;
        }				
		&:nth-child(even) {
			background-color: $quartz;
        }			
		.date, .dm-number {
			padding-top: 21px;
			padding-bottom: 21px;
        }						
		&.header {
			background-color: $dell-blue;
			color: $white;
			font-size: 18px;
        }			
		&.sub-header {
			background-color: $granite;
			color: $white;
			font-size: 16px;
        }
    }
}		
			
.performance-single {
	.row {
		line-height: 1;
		
		div {
			padding-top: 15px;
			padding-bottom: 15px;
        }
		.date, .dm-number {
			padding-top: 21px;
			padding-bottom: 21px;
        }
		&.header {
			background-color: $dell-blue;
			color: $white;
			font-size: 18px;
        }
		&.sub-header {
			background-color: $granite;
			color: $white;
			font-size: 16px;		
        }
    }
}