.statistics {
	.stat-wrap {
		padding: 0 15px 15px;
		
		.stat-number {
			font-size: 1.75em;
			background-color: $steel;
			color: $white;
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: center;
        }
		
		.stat-title {
			font-weight: bold;
			border-style: solid;
			border-width: 1px 1px 0 1px;
			border-color: $steel;
			background: $row-bg;
			padding: 10px 15px;
			font-size: 1.25em;
        }
						
		.stat-description {
			border-style: solid;
			border-width: 0 1px 1px 1px;
			border-color: $steel;
			background: $row-bg;
			padding: 0 15px 10px;
        }
    }
}

.process-count {
    margin-top: 45px;
    
    .title {
        background-color: $steel;
        padding: 15px;
        font-size: 1.25em;
        color: $white;
    }

    .header,
    .process-row {
        border-style: solid;
		border-color: $dell-gray;       
    }
        
    .header {
        background-color: $quartz;
        border-width: 0 1px 0 1px;
        padding: 15px;
        font-size: 1.15em;
        font-weight: bold;
        
        > div {
            padding-left: 0;
        }      
    }
    
    .process-row {
        border-width: 0 1px 0 1px;
        padding: 10px 15px;
        
        &:nth-child( even ) {
            background: $row-bg;
        }
        
        &:last-child {
            border-bottom-width: 1px;   
        }
    }
}